{% extends 'layout.html.twig' %}

{% block titre %}Lyon Ayurveda lyon, Bien être, relaxation Villeurbanne : Ayurveda concept{% endblock %}
{% block content %}
    <img src="/images/chiva.jpg" class="right th"  alt="masseur, ayurveda, huiles, essentielle, lyon" width="110" height="146" /><h1>De quel type êtes-vous?</h1><br /><br/> <h3>Remplissez ce test, il vous sera utile lors de votre premier rendez-vous.</h3><br />Pour commencer, pensez à votre apparence et votre constitution.
    Les questions suivantes portent sur votre corps, votre allure, vos habitudes alimentaires...<br/>
    Parcourez les listes et cochez les cases qui vous correspondent.
    Cliquez sur envoyer pour connaitre votre profil ayurvédique ou sur effacer pour recommencer le test.
    <hr />
    {{ form_start(form) }}
        <h2>Vata</h2>
        {{ form_widget(form.vata) }}
        <hr/>
        <h2>PITTA</h2>
        <div>{{ form_widget(form.pitta) }}Etes-vous trés grand, trés petit ou mince?</div>
        <div>{{ form_widget(form.pitta) }}Etes-vous de taille ou musculature moyenne?</div>
        <div>{{ form_widget(form.pitta) }}Etes-vous de poid moyen?</div>
        <div>{{ form_widget(form.pitta) }}Vous transpirez beaucoup?</div>
        <div>{{ form_widget(form.pitta) }}Votre peau est douce et chaude?</div>
        <div>{{ form_widget(form.pitta) }}Votre teint est blanc ou rose?</div>
        <div>{{ form_widget(form.pitta) }}Vos cheveux sont fins, roux ou blonds?</div>
        <div>{{ form_widget(form.pitta) }}Vos yeux ont une taille normale?</div>
        <div>{{ form_widget(form.pitta) }}Vos yeux sont bleu, gris ou noisette?</div>
        <div>{{ form_widget(form.pitta) }}Vos dents sont de taille normale et jaunissantes?</div>
        <div>{{ form_widget(form.pitta) }}Vous possédez endurance et force?</div>
        <div>{{ form_widget(form.pitta) }}Vous préféré la fraîcheur à la chaleur?</div>
        <div>{{ form_widget(form.pitta) }}Vos intestins ont tendance à produire des selles molles?</div>
        <div>{{ form_widget(form.pitta) }}Vous parlez d'une manière convaincante et précise?</div>
        <div>{{ form_widget(form.pitta) }}Vous préférez les aliments sucrés, légers, chauds et amères?</div>
        <div>{{ form_widget(form.pitta) }}Avez-vous souvent faim et vous vous sentez mal si vous manquez un repas?</div>
        <div>{{ form_widget(form.pitta) }}Votre pouls est entre 60-70 pour un homme, 70-80 pour une femme?</div>
        <hr/>
        <h2>KAPHA</h2><br />
        <div>{{ form_widget(form.kapha) }}Etes-vous solide ou un peu gros?</div>
        <div>{{ form_widget(form.kapha) }}Votre visage est large et plein?</div>
        <div>{{ form_widget(form.kapha) }}Vous prenez du poid facilement?</div>
        <div>{{ form_widget(form.kapha) }}Vous transpirez peu?</div>
        <div>{{ form_widget(form.kapha) }}Votre peau est moite et froide?</div>
        <div>{{ form_widget(form.kapha) }}Votre teint est pâle?</div>
        <div>{{ form_widget(form.kapha) }}Vos cheveux sont épais, lustrés et brun?</div>
        <div>{{ form_widget(form.kapha) }}Vos yeux sont grands?</div>
        <div>{{ form_widget(form.kapha) }}Vos yeux sont bleu ou marron?</div>
        <div>{{ form_widget(form.kapha) }}Vos dents sont blanches, vos gencives solides?</div>
        <div>{{ form_widget(form.kapha) }}Vos dents sont grandes?</div>
        <div>{{ form_widget(form.kapha) }}Vous vous déplacez lentement?</div>
        <div>{{ form_widget(form.kapha) }}Vous avez une bonne endurance?</div>
        <div>{{ form_widget(form.kapha) }}Vous avez une digestion normale?</div>
        <div>{{ form_widget(form.kapha) }}Vous avez un appetit régulier et la capacité de sauter un repas?</div>
        <div>{{ form_widget(form.kapha) }}Vous parlez lentement?</div>
        <div>{{ form_widget(form.kapha) }}Vous préférez les aliments secs, sans graisse, sucrés et épicés?</div>
        <div>{{ form_widget(form.kapha) }}Votre pouls est inférieur à 60 pour un homme, 70 pour une femme?</div>
    {{ form_widget(form.Envoyer) }}
    {{ form_end(form) }}
{% endblock %}


