{% extends 'layout.html.twig' %}

{% block titre %}Ayurveda lyon, dosha, alimentation ayurvedique.{% endblock %}
{% block content %}
    <div id="banner">
        <img src="/images/dosha.jpg" alt="massage indien, medecine ayuvedique"/>
        <article>
            <h1>Connaître mon dosha</h1>
            <p><strong>De quel type êtes-vous?</strong><br/><br/>Pour commencer, pensez à votre apparence et votre constitution.<br/>
                Les questions suivantes portent sur votre corps, votre allure, vos habitudes alimentaires...</p>
            <a href="#test" class="btn">Faire le test</a>
        </article>
    </div>
    <div id="ban">
        <article>
            <a name="test"></a>
            <h2>Faire le test</h2>
            <p>Remplissez ce test, il vous sera utile lors de votre premier rendez-vous.<br/>
                Parcourez les listes et cochez les cases qui vous correspondent. <br/><br/>
                Cliquez sur envoyer pour connaitre votre profil ayurvédique ou sur effacer pour recommencer le test.
            </p>
        </article>
    </div>
    <article class="content">
        {% for message in app.session.getFlashBag.get('message') %}
            <h3>Profil complexe, vous avez coché :</h3>
            {{ message }}

        {% endfor %}
        {% for message in app.session.getFlashBag.get('message2') %}
            <h3>Oup's !</h3>
            {{ message }}

        {% endfor %}
        {{ form_start(form) }}
        <h3>Vata</h3>
        {{ form_widget(form.vata) }}

        <h3>Pitta</h3>
        {{ form_widget(form.pitta) }}

        <h3>Kapha</h3>
        {{ form_widget(form.kapha) }}
        {{ form_widget(form.Envoyer) }}
        {{ form_widget(form.effacer) }}
        {{ form_end(form) }}
    </article>


{% endblock %}

{% block js %}
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/jquery.offcanvas.js"></script>
{% endblock %}
