<ul class="up">
    <li>Voir aussi : </li>
    <li><a href="{{ app.url_generator.generate('ayurveda') }}">La pratique de l'Ayurveda</a></li>
    <li><a href="{{ app.url_generator.generate('masseurlyon') }}">Identité</a></li>
    <li><a href="{{ app.url_generator.generate('ayurvedalyon') }}">Connaître mon dosha</a></li>
    <li><a href="{{ app.url_generator.generate('kapha') }}">Kapha</a></li>
    <li><a href="{{ app.url_generator.generate('vata') }}"> Vata</a></li>
    <li><a href="{{ app.url_generator.generate('pitta') }}"> Pitta</a></li>
    <li><a href="{{ app.url_generator.generate('tarifmassagelyon') }}">Tarifs prestations</a></li>
    <li><a href="{{ app.url_generator.generate('relaxationlyon') }}">Centre relaxation ayurveda</a></li>
    <li><a href="{{ app.url_generator.generate('massagebienetre') }}">Espace ayurvédique</a></li>
    <li><a href="{{ app.url_generator.generate('demomassage') }}">Evénementiels</a></li>
    <li><a href="https://maps.google.fr/maps?msid=108775823146302546416.00046c7a33400872dc785&msa=0&q=Ayurveda+concept&hl=fr&sll=45.750566,4.846989&sspn=0.083129,0.22316&hq=Ayurveda+concept&t=m&z=17&iwloc=A" target="_blank">Plan d’accès</a></li>
    <li><a href="http://ayurveda-bien-etre.blogspot.fr/" target="_blank"> Livre d'or</a></li>
    <li><a href="{{ app.url_generator.generate('massagedomicillyon') }}">Laissez moi un message</a></li>
</ul>


