{# footer #}
<footer>
<div>
    <dl>
        <dd><img src="/images/Lotus.png" alt="lotus, detente, lyon" /></dd>
        <dt>• Boris Gaïl •</dt>
        <dd>
            Practicien en Ayurveda<br/>Fasciabioenergeticien <br/><br/>
            <em>Abyanga - Marma<br/>Shirodhara - Fasciabioénergie</em><br/><br/>
        </dd>
        <dd><a onclick="location.href=dolink(this.title); return false;" title="ayurveda.concept..åt..gmail.com" href="#">Contactez moi !</a></dd>
    </dl>

    {# footer nav #}

    <nav>
        <ul>
            <li>
                <a href="#">Ayurveda</a>
                <ul>
                    <li><a href="{{ app.url_generator.generate('ayurveda') }}">Qu'est-ce que l'Ayurveda?</a></li>
                    <li><a href="{{ app.url_generator.generate('ayurvedalyon') }}">Connaître mon dosha</a></li>
                    <li><a href="{{ app.url_generator.generate('kapha') }}">Kapha /</a><a href="{{ app.url_generator.generate('vata') }}"> Vata /</a><a href="{{ app.url_generator.generate('pitta') }}"> Pitta</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Fasciabioénergie</a>
                <ul>
                    <li><a href="{{ app.url_generator.generate('fascialyon') }}">Fascia : définition</a></li>
                    <li><a href="{{ app.url_generator.generate('fasciatherapielyon') }}">Fasciathérapie</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Formations</a>
                <ul>
                    <li><a href="{{ app.url_generator.generate('formationayurveda') }}">Plan de formation</a></li>
                    <li><a href="{{ app.url_generator.generate('calendrierformation') }}">Calendrier et Tarifs</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{{ app.url_generator.generate('tarifmassagelyon') }}">Tarifs</a>
            </li>
            <li>
                <a href="#">A propos</a>
                <ul>
                    <li><a href="{{ app.url_generator.generate('masseurlyon') }}">Identité</a></li>
                    <li><a href="{{ app.url_generator.generate('relaxationlyon') }}">Centre de relaxation</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Contact</a>
                <ul>
                    <li><a href="http://ayurveda-bien-etre.blogspot.fr/" target="_blank"> Livre d'or</a></li>
                    <li><a href="{{ app.url_generator.generate('massagedomicillyon') }}">Laissez moi un message</a></li>
                </ul>
            </li>
        </ul>
    </nav>






</div>
</footer>
<div class="copyright">Copyright © Ayurveda-concept.com - 2007 / {{ "now"|date("Y") }} - <span><a href="" target="_blank">Mentions légales</a></span></div>


{% block js %}
    <script src="/js/antispam.js"></script>
{% endblock %}