{# nav #}
<nav>
    <ul>
        <li>
            <a href="{{ app.url_generator.generate('homepage') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ app.url_generator.generate('ayurveda') }}">Ayurveda</a>
        </li>
        <li>
            <a href="{{ app.url_generator.generate('fascialyon') }}">Fasciabioénergie</a>
        </li>
        <li>
            <a href="{{ app.url_generator.generate('formationayurveda') }}">Formations</a>
        </li>
        <li>
            <a href="{{ app.url_generator.generate('tarifmassagelyon') }}">Tarifs</a>
        </li>
        <li>
            <a href="{{ app.url_generator.generate('masseurlyon') }}">A propos</a>
        </li>
        <li>
            <a href="{{ app.url_generator.generate('massagedomicillyon') }}">Contact</a>
        </li>
    </ul>
</nav>


	